[submodule "thorium-states"]
	path = thorium-states
	url = ./thorium-states
[submodule "thorium-core"]
	path = thorium-core
	url = ./thorium-core
[submodule "modules/context"]
	path = modules/context
	url = https://github.com/Odyssee-Software/thorium-store-context.git
[submodule "modules/states"]
	path = modules/states
	url = https://github.com/Odyssee-Software/thorium-states.git
[submodule "modules/core"]
	path = modules/core
	url = https://github.com/Odyssee-Software/thorium-core.git
[submodule "modules/huid"]
	path = modules/huid
	url = https://github.com/Odyssee-Software/thorim-uuid.git
